.l-contents {
  max-width: 1000px;
  margin: 0 auto;
  &_main {
    &_title {
      margin: 60px 0 15px 0;
      @include tab {
        margin: 60px 0 15px 10px;
      }
      background-repeat: no-repeat; /* 画像の繰り返しを指定  */
      width: 160px; /* 横幅のサイズを指定    */
      img {
        max-width: 100%;
      }
    }
    &_picture {
      max-width: 1000px;
      max-height: 400px;
      img {
        width: 100%;
      }
    }

    &_INDEX {
      max-width: 800px;
      margin: 45px auto;
      padding: 0 30px 50px 30;
      @include tab {
        width: 80%;
        padding: 0 5%;
        padding-bottom: 40px;
        margin-bottom: 45px;
      }
      background-color: #f5f5f5;
      h2 {
        padding: 60px 0 30px 0;
        @include tab {
          padding: 40px 0 30px 0;
        }
        margin: 0 auto;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        width: 55px;
      }
      ul {
        font-family: Arial;
        font-size: 14px;
        font-weight: Regular;
        margin: 5px auto;
        padding: 20px;
        width: 85%;
        border: solid 1px #333333;
        @include tab {
        }
      }
      li {
        padding: 10px 0 10px 0;
        text-align: center;
      }
    }
    &_pictures {
      margin: 0 auto;
      max-width: 800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include tab {
        flex-direction: column;
      }
      &_1,
      &_2,
      &_3,
      &_4 {
        width: 49%;
        height: 50%;
        margin: 15px 0 0 0;
        @include tab {
          width: 90%;
          margin: 0 5%;
          margin-top: 15px;
        }
        img {
          width: 100%;
        }
      }
    }

    &_DETAIL {
      max-width: 800px;
      padding: 60px 0;
      @include tab {
        width: 90%;
        padding: 40px 0 0px 0;
      }
      margin: 60px auto;
      background-color: #f5f5f5;
      &_title {
        text-align: center;
        margin: 0px auto;
        padding: 30px 0;
        font-family: Arial;
        font-size: 18px;
        font-weight: Bold;
        @include tab {
          padding: 0px 0 30px 0;
        }
      }
      &_picture img {
        width: 100%;
        margin-right: 60px;
        @include tab {
          margin: 0 auto;
        }
      }
      &_article {
        display: flex;

        max-width: 800px;
        padding: 0px 0 0 0;
        @include tab {
          flex-direction: column;
          width: 85%;
          margin: 0 5%;
          padding: 0px 0 40px 0;
        }
        margin: 0 auto;

        &_DATE {
          width: 35%;
          padding: 0px 20px 30px 60px;
          border-right: solid 1px #333333;
          margin-right: 30px;
          @include tab {
            width: 100%;
            border-right: none;
            border-bottom: solid 1px #333333;
            padding: 0 0 40px 0;
            margin-right: 0;
          }
          font-family: Arial;
          font-size: 14px;

          dt {
            font-weight: bold;
            line-height: 9px;
          }
          dd {
            margin-bottom: 14px;
          }
        }
        &_sentence {
          padding: 20px 0 0 0;
          &1,
          &2 {
            padding: 0px 60px 20px 0;
            @include tab {
              padding: 20px 0 0 0;
            }
            color: #333333;
            font-size: 14px;

            > p {
              line-height: 20px;
              color: #333333;
            }
          }
        }
      }
      &_Link {
        width: 153px;
        border-bottom: solid 1px #333333;
        p {
          color: #333333;
          padding: 20px 0 0 0;
          font-size: 14px;
          font-family: arial;
          font-weight: regular;
        }
      }
    }
  }
}
